.container {
  padding: 35px 25px;
  max-width: 425px;
  margin-bottom: 3rem;
  margin-right: 5rem;
  height: fit-content;
}

@media screen and (max-width: 1000px) {
  .container {
    margin-right: 0;
  }
}
