.container {
  padding: 35px 25px;
  width: 100%;
  max-width: 400px;
  margin-bottom: 3rem;
}

.no-bottom {
  margin-bottom: 0;
}

.form > div {
  margin-bottom: 12px;
}

.stripe-elem-wrapper {
  width: 100%;
  min-height: 48px;
  padding: 8px 12px;
  border-radius: 5px;
  border: 1px solid var(--color-secondary-border);
  background-color: var(--color-sec-ivory);
}

.stripe-elem-expiry {
  margin-right: 1rem;
  width: 100%;
}

.stripe-elem-security {
  width: 100%;
}

.expiry-cvc,
.city-state {
  display: flex;
}

.fields-pair {
  display: flex;
}

.fields-pair > div:first-child {
  width: 50%;
  margin-right: 5%;
}

.fields-pair > div:last-child {
  width: 45%;
}

.subscribe {
  margin-top: 2rem;
  text-align: center;
}

.container label {
  font-weight: 500;
  display: block;
  margin-bottom: 8px;
}

@media screen and (max-width: 650px) {
  .expiry-cvc,
  .city-state {
    flex-wrap: wrap;
  }

  .fields-pair {
    flex-wrap: wrap;
  }

  .stripe-elem-expiry {    
    width: 100%;
  }

  .fields-pair > div:first-child {
    width: 100%;
    margin-right: 0;
  }
  
  .fields-pair > div:last-child {
    width: 100%;
  }

  .container {
    padding: 17.5px 12.5px;
  }
}
