.container {
  width: 25rem;
  padding: 1.5rem 1rem;
}

.container .title {
  display: flex;
  align-items: center;
}

.container h2 {
  margin: 0;
  flex: 1;
}

.container span {
  display: inline-flex;
}

.list img {
  width: 20px;
  height: 20px;
}

.add {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.add:hover {
  color: var(--color-sec-blue);
}

.add img {
  width: 20px;
  height: 20px;
  margin-right: 8px;
}

.add span {
  display: inline-flex;
}

.container ul {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.container ul li {
  display: flex;
  margin-bottom: 1rem;
}

.task-content {
  margin-left: 13px;
}

.task-content > span {
  cursor: pointer;
  font-weight: 600;
}

.task-content > span:hover {
  color: var(--color-sec-blue);
}

.task-content span {
  display: inline-flex;
}

.detail {
  display: flex;
  margin-top: 8px;
}

.detail > span {
  margin-left: 8px;
}

.actions button {
  margin-top: 8px;
  margin-right: 8px;
}
