.container {
  display: flex;
  justify-content: center;
  position: relative;
  min-height: 60vh;
}

.list-wrapper{
  width: 100%;
  max-width: 1800px;
}

.grid-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 2rem;
}

.grid-list.medium{
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.button-wrapper{
  margin-top: 1.5rem;
  display: flex;
  justify-content: center;
}