.container {
  border: 1px solid var(--color-secondary-border);
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
}

.image-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-button-wrapper, .uploading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 600;
  z-index: 2;
}

.image-button-wrapper {
  display: none;
}

.selectable-wrapper {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  display: none;
}

.selectable-wrapper.selected-wrapper {
  display: block;
}

.image-wrapper .selectable-wrapper .select-icon {
  width: 25px;
  height: auto;
}

.image-wrapper>img, .image-wrapper>.video-wrapper {
  width: inherit;
  height: inherit;
  object-fit: cover;
}

.image-wrapper:hover>img, .image-wrapper:hover>.video-wrapper {
  animation: halfopacity 0.5s;
  opacity: 0.5;
}

.image-wrapper:hover .image-button-wrapper, .image-wrapper:hover .selectable-wrapper:not(.selected-wrapper) {
  display: block;
  animation: intoview 0.5s;
}

@keyframes halfopacity {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

@keyframes intoview {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.info {
  padding: 10px;
  border-top: 1px solid var(--color-secondary-border);
}

.info>div:first-child {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.details-wrapper {
  display: flex;
}

.details-wrapper>div:first-child {
  margin-top: 0.5rem;
  flex: 1;
}