.container{
  padding: 0 20px;
}

.field {
  margin-bottom: 0.2rem;
}

.field-wrapper {
  margin-top: 1.5rem;
}

.container .field-wrapper .tags-list{
  margin-top: 0.7rem;
}

.select-wrapper{

}

.select-add{
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-left: 8px;
}

.select-add img{
  margin-right: 5px;
}