.header {
  display: flex;
}

.header h4 {
  width: 14%;
  font-weight: 550;
  color: var(--color-prim-nav);
}

.header h4:first-child {
  width: 95px;
}

.header h4:nth-child(2) {
  width: 21%;
}

.header h4:last-child {
  flex: 1;
}

.thumbnail {
  padding: 0 10px;
}

.thumbnail>img {
  width: 50px;
  height: auto;
  border: 1px solid var(--color-secondary-border)
}

.name{
  width: 21%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding-right: 0.5rem;
  cursor: pointer;
  font-weight: 600;
}

.name:hover{
  opacity: 0.6
}

.field_name {
  width: 14%;
  font-size: 13px;  
}

.item {
  display: flex;
  padding: 0.5rem 0;
  border-top: 1px solid var(--color-secondary-border);
  align-items: center;
}

.status {
  width: 14%;
}

.select-icon {
  width: 25px;
  height: auto;
}