.day {
  height: var(--day-width);
  background-color: white;
  position: relative;
}

.hovering {
  background-color: var(--color-secondary-border);
}

.day.week {
  height: 100%;
}

.day-header {
  display: flex;
  align-items: center;
}

.diff-month {
  color: var(--color-sec-blue);
}

.day-number {
  margin: 6px 12px;
  font-weight: 600;
}

.today-dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--color-prim-turquoise);
}

.filler {
  margin-bottom: 5px;
  height: 40px;
  width: 100%;
}

.day ul li {
  position: relative;
  z-index: 100;
}
