.container {
    display: flex;
    padding-top: 15px;
    flex-flow: row wrap;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .container hr {
    flex-basis: 100%;
    height: 0;
    margin: 0;
    border: 0;
  }
  
  .container img {
    width: 20px;
    height: 20px;
  }
  
  .field {
    width: 30rem;
    padding: 35px 25px;
    border: 1px solid var(--color-secondary-border);
    border-right: none;
    border-bottom: none;
  }
  
  .field-row-last {
    border-right: 1px solid var(--color-secondary-border);
  }
  
  .field-wide {
    width: 60rem;
    border-right: 1px solid var(--color-secondary-border);
    border-bottom: 1px solid var(--color-secondary-border);
  }
  
  .day-picker {
    position: absolute;
    border: 1px solid var(--color-secondary-border);
    z-index: 500;
    background-color: white;
    border-radius: 10px;
  }
  
  .tag-select,
  .campaign-select,
  .add {
    margin-top: 10px;
  }
  
  .add {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  
  .add:hover {
    color: var(--color-sec-blue);
  }
  
  .add img {
    margin-right: 8px;
  }
  
  .add span {
    display: inline-flex;
  }
  