.container{
  padding: 35px 32px;
}

.content{
  display: grid;
  grid-template-areas: "side-panel schedule";
  grid-template-columns: 20% 80%;
  margin-top: 1rem;
}

.side-panel {
  grid-area: side-panel;
  height: 80vh;
}

.schedule {
  grid-area: schedule;
  box-sizing: content-box;
}