.container{
  padding: 35px 32px;
}

.content{
  display: grid;
  grid-template-areas: "side-panel schedule";
  grid-template-columns: 17% 80%;
  grid-column-gap: 3%;
  margin-top: 1rem;
}

.side-panel {
  grid-area: side-panel;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
}

.schedule {
  grid-area: schedule;
  box-sizing: content-box;
}