.list {
  width: 40rem;
  position: absolute;
  background-color: white;
  z-index: 1000;
  right: 0;
  padding: 15px;
  border: 1px solid var(--color-secondary-border);
  border-radius: 5px;
}

.notification {
  display: flex;
  margin-bottom: 5px;
  padding-bottom: 5px;
  padding-top: 5px;
  border-bottom: 1px solid var(--color-secondary-border);
}

.page .notification {
  margin-bottom: 10px;
  padding-bottom: 10px;
  padding-top: 10px;
}

.message {
  margin-right: 10px;
  cursor: pointer;
}

.message:hover {
  opacity: 0.6;
}

.message > div:first-child {
  font-size: 14px;
}

.content {
  font-style: italic;
  font-size: 13px;
  color: var(--color-sec-blue);
}

.date {
  font-size: 13px;
  color: var(--color-sec-blue);
  margin-right: 10px;
  min-width: 58px;
}

.action {
  flex: 1;
  text-align: right;
  cursor: pointer;
  color: var(--color-sec-blue);
  min-width: 34px;
}

.page .action {
  min-width: 93px;
}

.action:hover {
  opacity: 0.6;
}

.cleared,
.new,
.seen {
  border-radius: 50%;
  width: 10px;
  height: 10px;
  margin-right: 5px;
}

.new {
  background-color: var(--color-prim-red);
}

.cleared,
.seen {
  background-color: var(--color-sec-blue);
}

@media screen and (max-width: 900px) {
  .list {
    width: max-content;
    right: -11rem;
  }

  .page {
    width: 100%;
    right: 0;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 500px) {
  .list {
    max-width: 20rem;
  }

  .page {
    max-width: 100%;
  }
}

.page {
  position: relative;
  border: none;
  width: 100%;
  z-index: 0;
  padding: 0;
}
