.container {
  display: flex;
  justify-content: center;
}

.calendar {
  max-width: 1800px;
  width: 100%;
}

.day-of-week,
.date-grid {
  display: grid;
  grid-template-columns: repeat(7, minmax(0, 1fr));
  grid-template-rows: minmax(0, 1fr);
  gap: 1px;  
  min-width: 980px;
}

.day-of-week {
  margin-top: 1.25em;
  border-bottom: 1px solid var(--color-secondary-border);
  padding-bottom: 10px;
}

.day-of-week > * {
  font-weight: 700;
  text-align: center;
}

/* Dates */
.date-grid-container {
  height: 56vh;
  overflow-y: scroll;
  position: relative;
  /* scrollbar-width: thin;
  scrollbar-color: var(--color-sec-lightblue) white; */
}

.overflow-disabled {
  overflow-y: hidden;
}

.date-grid {
  margin-top: 0.5em;
  width: 100%;
  background-color: var(--color-secondary-border);
  border: 1px solid var(--color-secondary-border);  
}

.loading {
  position: absolute;
  z-index: 10000;
  max-width: 1800px;
  width: calc(100% - 35px);
  height: 60vh;
  background-color: rgba(255, 255, 255, 0.7);
}

@media screen and (max-width: 1000px) {
  .day-of-week{
    display: none;
  }
}
