.signup{
  margin-top: 20px;
  font-size: 12px;
  color: var(--color-ghost-text);
}

.signup span{
  cursor: pointer;
  text-decoration: underline;
}

.or{
  color: var(--color-ghost-text);
  font-weight: 600;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.container{
  margin-top: 1rem;
}