.container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.name, .container button{
  min-width: 140px;
}

.name{
  font-size: 17px;
  font-weight: 500;
}

.container>img{
  width: 60px;
  height: 60px;
}