.additional-folder-wrapper {
  position: relative;
}

.additional-folder-wrapper h4 {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
}

.asset-subheader button {
  margin-left: 0.5rem;
}

.padding {
  flex: 1;
}

.back {
  margin-right: 0.3rem;
  color: var(--color-sec-ivory);
  font-size: 25px;
  font-family: monospace;
  cursor: pointer;
}
