.list {
    padding: 1rem;
}

.list li {
    cursor: pointer;
    display: flex;
    padding: 1rem;
    border-bottom: 1px solid var(--color-secondary-border);
}

.list li:last-child {
    border-bottom: none;
}

.list li:hover, .list li.selected {
    background-color: var(--color-sec-lightblue);
}

.name{
    margin-left: 0.5rem;
    font-weight: 500;
}