.container {
  grid-area: side-nav;
  border-right: 1px solid var(--color-secondary-border);
  min-height: 80vh;
  height: 100%;
}

.container>ul {}

.setting {
  font-size: 15px;
  padding: 15px 5px;
  font-weight: 500;
  cursor: pointer;
}

.selected, .setting:hover {
  background-color: var(--color-sec-lightblue);
}

@media screen and (max-width: 1100px){
  .container {
    position: absolute;
    grid-area: unset;
    background-color: white;
    border-top: 1px solid var(--color-secondary-border);
    width: 200px;
    z-index: 1;
    top: 2.5rem;
  }
}