.container{
  padding: 35px 32px;
  display: grid;
  grid-template-areas: "side-nav content";
  grid-template-columns: 19% 80%;
  grid-column-gap: 1%;
  margin-top: 1rem;
}

.content {
  grid-area: content;
  min-height: 80vh;
  padding: 0 3rem;
}