.container {
  display: flex;
  align-items: center;
}

.container button:first-of-type{
  margin-left: 2rem;
}

.container button:last-of-type{
  margin-left: 2rem;
}

.container button{
  width: 150px;
}

.current, .no-photo{
  width: 80px;
  height: 80px;
}


.current {
  object-fit: cover;
  border-radius: 50%;
}

.no-photo {

}
