.ref{
  color: var(--color-sec-text);
  display: flex;
  align-items: center;
  margin-right: 40px;
  cursor: pointer;
  font-weight: 600;
}

.link {
  display: flex;
}

.active,
.link:hover {
  color: white;
}

.icon {
  height: 1rem;
}

.text {
  padding-left: 10px;
}
