.image-wrapper {
  width: 50px;
  height: 50px;
  position: relative;
}

.image-wrapper>img, .image-wrapper>.video-wrapper {
  width: inherit;
  height: inherit;
  object-fit: cover;
}

.name {
  width: 45%;
}

.campaign {
  width: 23%;
}

.extension {
  width: 7%;
}

.folder {
  width: 15%;
}