.image-wrapper {
  width: 50px;
  height: 50px;
  position: relative;
  display: flex;
}

.image-wrapper.image-selectable{
  margin-left: 10px;
}

.image-wrapper>img, .image-wrapper>.video-wrapper {
  width: inherit;
  height: inherit;
  object-fit: cover;
}

.name {
  width: 45%;
  position: relative;
  cursor: pointer;
}

.name:hover {
  opacity: 0.5;
}

.campaign {
  width: 23%;
}

.extension {
  width: 7%;
  position: relative;
}

.folder {
  width: 15%;
}



.search-item {
  cursor: default;
}

.search-item .select-icon {
  width: 25px;
  height: auto;
}