/* Styled with the help of  https://css-tricks.com/the-current-state-of-styling-selects-in-2019/*/

.container {
  border-radius: 5px;
  border: 1px solid var(--color-secondary-border);
  width: 100%;
}