.container {
  display: flex;
  align-items: center;
  font-weight: 600;
  height: 24px;
  border-radius: 50px;
  padding: 0 13px;
  width: fit-content;
}

.draft {
  background-color: var(--color-sec-lightyellow);
}

.open {
  background-color: var(--color-sec-lightturquoise);
}

.scheduled {
  background-color: var(--color-sec-lightorange);
}

.completed {
  background-color: var(--color-sec-lightwine);
}

.archived {
  background-color: var(--color-sec-lightred);
}

.past_due{
  background-color: var(--color-sec-lightred);
}