.container {
  height: 40px;
  width: 100%;
  display: flex;
  border-radius: 20px;
  align-items: center;
}

.container img {
  width: 17px;
  height: 17px;
  margin-left: 15px;
}

.name {
  color: var(--color-prim-navy);
  font-weight: 600;
  font-size: 12px;
  margin-left: 10px;
  white-space: nowrap;
}

.campaign {
  background-color: var(--color-sec-lightturquoise);
}

.task {
  background-color: var(--color-sec-lightblue);
}

.social {
  background-color: var(--color-sec-ivory);
}

.ads {
  background-color: var(--color-sec-lightyellow);
}

.article {
  background-color: var(---color-sec-lightwine);
}

.banner {
  background-color: var(--color-sec-lightblue);
}

.email {
  background-color: var(--color-sec-lightorange);
}
