.container {
  height: 30px;
  width: 100%;
  display: flex;
  border-radius: 20px;
  align-items: center;
  box-sizing: border-box;
  position: relative;
}
.hover-task:hover, .hoverMobileClass1 {
  border-radius: 0%;
  border-top-left-radius: 20px 20px;
  border-top-right-radius: 20px 20px;
}

.container img {
  width: 14px;
  height: 14px;
  margin-left: 15px;
}

.name {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: var(--color-prim-navy);
  font-weight: 600;
  font-size: 12px;
  margin-left: 10px;
  margin-right: 15px;
}

@media screen and (max-width: 1200px){
  .name{
    font-size: 11px;
  }
}

.multiple .name {
  overflow: inherit;
}

.campaign {
  background-color: var(--color-sec-lightturquoise);
}

.task {
  background-color: var(--color-sec-lightblue);
  position: relative;
}

.project-task {
  border-bottom-left-radius: 20px 20px;
  border-bottom-right-radius: 20px 20px;
  background-color: white;
  display: none;
  position: absolute;
  z-index: 999;
  height: 30px;
  width: 100%;
  left: 0;
  border: 2px solid var(--color-sec-lightblue);
  top: 30px;
  align-items: center;
  box-sizing: border-box;
}
.hover-task:hover .project-task, .hover-task:active .project-task, .hoverMobileClass2 {
  display: flex;
}
.project-task img {
  width: 14px;
  height: 14px;
  margin-left: 15px;
}
.project-task p {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: var(--color-prim-navy);
  font-weight: 600;
  font-size: 12px;
  margin-left: 10px;
  margin-right: 15px;
}
@media screen and (max-width: 1200px){
  .project-task p {
    font-size: 11px;
  }
}

.social {
  background-color: var(--color-sec-ivory);
}

.ads {
  background-color: var(--color-sec-lightyellow);
}

.articles {
  background-color: var(--color-sec-lightwine);
}

.banners {
  background-color: var(--color-sec-lightivory);
}

.email {
  background-color: var(--color-sec-lightorange);
}

.container .more-task {
  display: none;
}
.container:hover .more-task {
  display: block;
  border: var(--color-prim-navy) 1px solid;
  border-radius: 50%;
  padding: 2px;
  background-color: white;
  position: absolute;
  right: -2px;
  z-index: 999;
}
.more-task img {
  display: block;
  margin: 0 auto;
  width: 10px;
  height: 10px;
  transform: rotate(90deg)
}