.container {
  min-height: 40px;
  width: 100%;
  border-radius: 5px;
  padding: 12px;
  box-sizing: border-box;
}

.multiple {
  padding: 8px 12px;
  display: flex;
  align-items: center;
}

.multiple .name {
  white-space: nowrap;
}

.multiple img:first-child {
  margin-right: 7px;
}

.name {
  color: var(--color-prim-navy);
  font-weight: 600;
  font-size: 12px;
  flex: 1;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container .more-task {
  display: none;
}
.container:hover .more-task {
  display: block;
  border: var(--color-prim-navy) 1px solid;
  border-radius: 50%;
  padding: 2px;
  z-index: 999;
  margin-left: 5px;
}
.more-task img {
  display: block;
  margin: 0 auto;
  width: 8px;
  height: 8px;
  transform: rotate(90deg)
}

.name-extended {
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.hour {
  font-weight: 500;
  font-size: 12px;
  margin: 10px 0;
}

.icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.multiple *:last-child img {
  display: none;
}

.multiple *:last-child img,
.multiple img,
.icons img {
  width: 17px;
  height: 17px;
}

.campaign {
  background-color: var(--color-sec-lightturquoise);
}

.task {
  background-color: var(--color-sec-lightblue);
}

.social {
  background-color: var(--color-sec-ivory);
}

.ads {
  background-color: var(--color-sec-lightyellow);
}

.articles {
  background-color: var(--color-sec-lightwine);
}

.banners {
  background-color: var(--color-sec-lightblue);
}

.email {
  background-color: var(--color-sec-lightorange);
}
