.container {
  min-height: 40px;
  width: 100%;
  border-radius: 5px;
  padding: 8px;
}

.multiple {
  display: flex;
  align-items: center;
}

.multiple .name {
  white-space: nowrap;
}

.name {
  color: var(--color-prim-navy);
  font-weight: 600;
  font-size: 12px;
  flex: 1;
}

.icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.multiple img:first-child,
.icons img:first-child {
  width: 22px;
  height: 22px;
}

.multiple img:last-child {
  display: none;
}

.multiple img:last-child {
  display: none;
}

.multiple .last-image{
  display: flex;
}

.multiple img,
.icons img {
  width: 17px;
  height: 17px;
}

.campaign {
  background-color: var(--color-sec-lightturquoise);
}

.task {
  background-color: var(--color-sec-lightblue);
}

.social {
  background-color: var(--color-sec-ivory);
}

.ads {
  background-color: var(--color-sec-lightyellow);
}

.article {
  background-color: var(---color-sec-lightwine);
}

.banner {
  background-color: var(--color-sec-lightblue);
}

.email {
  background-color: var(--color-sec-lightorange);
}
