.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-wrapper {
  width: 40rem;
}

.button-select-wrapper {
  display: flex;
}

.type {
  flex: 1;
  margin-right: 10px;
}
