.container {
  width: 100%;
  min-height: 48px;
  padding: 8px 12px;
  border-radius: 5px;
  border: 1px solid var(--color-secondary-border);
  background-color: var(--color-sec-ivory);
  color: var(--color-prim-navy);  
}

.regular{
  background-color: var(--color-sec-lightivory);
  min-height: 70px;
}

.regular-short{
  background-color: var(--color-sec-lightivory);
  min-height: 48px;
}