.wrapper {
    /* position: relative; */
    cursor: pointer;
    font-size: 12px;
    font-weight: 500;
    display: flex;
}

.content {
    position: absolute;
    margin-top: 0.7rem;
    width: 11rem;
    padding: 0.5rem;
    z-index: 300;
    background-color: hsl(0, 0%, 100%);
    border-radius: 4px;
    box-shadow: 0 0 0 1px hsla(0, 0%, 0%, 0.1), 0 4px 11px hsla(0, 0%, 0%, 0.1)
}

.select-list>div {
    margin: 0 0.5rem 0 0.5rem;
    width: 8rem;
}
.select-list {
    display: flex;
    margin-right: 1rem;
}

.button-wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 0.5rem;
}