.form {
  display: flex;
}

.container {
  width: 100%;
  padding: 8px 12px 8px 42px;
  border-radius: 5px;
  border: 1px solid var(--color-secondary-border);
  background-color: var(--color-sec-lightivory);
  min-height: 70px;
  color: var(--color-prim-navy);
}

.input-container {
  width: 100%;
  margin-right: 9px;
}

.input-container img {
  margin: 25px 10px;
  position: absolute;
  width: 20px;
  height: 20px;
}
