.container {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem 0;
  margin-top: 1rem 0;
  border-bottom: 1px solid var(--color-secondary-border);
}

.name-email {
  flex: 1;
}

.name-email>div:first-child{
  font-weight: 600;
}

.role{
  width: 7rem;
}

.company{
  width: 12rem;
  margin-right: 1rem;
}

.no-comp{
  color: var(--color-sec-blue);
}