.container {
  border-radius: 5px;
  height: 34px;
  /* max-width: 250px; */
  padding: 0 25px;

  font-weight: bold;
  cursor: pointer;
}

.submit {
  min-height: 70px;
}

.normal-height{
  min-height: 34px;
}

.primary {
  background-color: var(--color-prim-turquoise);
  color: white;
}

.secondary {
  background-color: white;
  border: 1px solid var(--color-secondary-border);
  color: var(--color-prim-navy);
}

.primary:hover {
  background-color: var(--color-prim-turquoise-hover);
}

.primary:disabled {
  background-color: var(--color-prim-turquoise-hover);
  cursor: default;
}

.secondary:hover {
  background-color: var(--color-sec-lightivory);
}

.secondary:disabled {
  background-color: var(--color-sec-lightivory);
  cursor: default;
}
