.container {
  display: flex;
  align-items: center;
  border-radius: 50px;
  height: 48px;
  min-width: 200px;
  padding: 0 25px;
  color: var(--color-prim-turquoise);
  background-color: white;
  border: 2px solid var(--color-prim-turquoise);
  font-weight: 600;
  cursor: pointer;
  outline: none;
  position: relative;
}

.container:hover {
  opacity: 0.5;
}

.container:disabled {
  opacity: 0.5;
  cursor: default;
}

.container span {
  display: inline-flex;
}


.icon img {
  width: 25px;
  height: auto;
}

.text {
  flex: 1;
  margin-left: 8px;
}