.container {
  border-radius: 5px;
  height: 34px;
  /* max-width: 250px; */
  padding: 0 20px;
  font-weight: 600;
  cursor: pointer;
}

.submit {
  /* min-height: 70px; */
  min-height: 40px;
}

.normal-height,
.normal-height-primary {
  min-height: 34px;
}

.input-height,
.input-height-primary,
.input-height-secondary {
  min-height: 48px;
}

.primary,
.normal-height-primary,
.input-height-primary {
  background-color: var(--color-prim-turquoise);
  color: white;
}

.secondary,
.input-height-secondary {
  background-color: white;
  border: 1px solid var(--color-secondary-border);
  color: var(--color-prim-navy);
}

.primary:hover,
.normal-height-primary:hover,
.input-height-primary:hover {
  background-color: var(--color-prim-turquoise-hover);
}

.primary:disabled,
.normal-height-primary:disabled,
.input-height-primary:disabled {
  background-color: var(--color-prim-turquoise-hover);
  cursor: default;
}

.secondary:hover,
.input-height-secondary:hover {
  background-color: var(--color-sec-lightivory);
}

.secondary:disabled,
.input-height-secondary:disabled {
  background-color: var(--color-sec-lightivory);
  cursor: default;
}

.tertiary {
  background-color: inherit;
  color: white;
}

.tertiary:hover {
  opacity: 0.6;
}

.tertiary:disabled {
  cursor: default;
}

/* Used for multi usually */
.round-corners {
  border-radius: 50px;
}
