.container {
  border-radius: 50px;
  height: 48px;
  /* max-width: 250px; */
  padding: 12px 40px;
  color: white;
  background-color: var(--color-prim-turquoise);
  font-weight: 600;
  cursor: pointer;
}

.container:hover {
  background-color: var(--color-prim-turquoise-hover);
}

.container:disabled {
  background-color: var(--color-prim-turquoise-hover);
  cursor: default;
}

@media screen and (max-width: 1000px) {
  .container {
    min-width: 0;
    font-size: 13px;
    padding: 6px 20px;
  }
}