.container {
  display: flex;
  align-items: center;
  border-radius: 50px;
  height: 48px;
  min-width: 200px;
  padding: 0 8px 0 12px;
  color: white;
  background-color: var(--color-prim-turquoise);
  font-weight: 600;
  cursor: pointer;
  outline: none;
  position: relative;
}

.container:hover {
  background-color: var(--color-prim-turquoise-hover);
}

.container:disabled {
  background-color: var(--color-prim-turquoise-hover);
  cursor: default;
}

.container span {
  display: inline-flex;
}

.icon {
  margin-left: 15px;
}

.icon img {
  width: 14px;
  height: auto;
}

.text {
  flex: 1;
  margin-left: 8px;
}

.dropdown {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  background-color: var(--color-nav-icon);
  display: flex;
  justify-content: center;
  align-items: center;
}

.dropdown img {
  width: 12px;
  height: auto;
}

.container:hover .dropdown {
  background-color: var(--color-nav-icon-hover);
}

/* Menu */

.menu {
  position: absolute;
  top: 50px;
  left: 0;
  z-index: 900;
  background-color: white;
  border: 1px solid var(--color-secondary-border);
  border-radius: 15px;
}

.menu li {
  text-align: left;
  min-width: 200px;
  display: flex;
  padding: 12px;
  cursor: pointer;
}

.menu li:first-child {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.menu li:last-child {
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.menu li:hover {
  background-color: var(--color-secondary-hover);
}

.menu li span {
  display: inline-flex;
  color: var(--color-prim-navy);
}

.menu li span:first-child {
  margin-right: 10px;
}

.menu li span img {
  width: 14px;
  height: auto;
}

@media screen and (max-width: 1000px) {
  .container {
    min-width: 0;
    font-size: 13px;
    padding: 0 4px 0 6px;
  }

  .text {
    margin-left: 4px;
    margin-right: 4px;
  }

  .icon {
    margin-left: 2px;
  }

  .menu {
    right: 0;
  }
}
