.button-wrapper {
  margin-top: 34px;
}

.instructions {
  text-align: left;
  color: var(--color-sec-text);
}

.instructions span {
  font-weight: 600;
  cursor: pointer;
  text-decoration: underline;
}