.container {
  display: flex;
}

.main {
  flex: 1;
}

.title {
  font-weight: 600;
  font-size: 12px;
  color: var(--color-prim-turquoise);
}

.content {
  padding-top: 10px;
  font-weight: 500;
  font-size: 16px;
}

.container > img {
  margin-right: 8px;
  width: 20px;
  height: 20px;
}

.option {
  align-self: center;
  cursor: pointer;
}

.option img{
  width: 12px;
  height: 12px;
}

.content input, .content textarea  {
  font-weight: 500;
  width: 100%;  
  border: none;
  outline: none;
  cursor: pointer;
  padding: 10px;
  background-color: inherit;
  color: var(--color-prim-navy);
}

.option img {
  width: 12px;
  height: auto;
}