.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 15px;
}

.container img {
  width: 20px;
  height: 20px;
}

.field {
  width: 30rem;
  padding: 35px 25px;
  border: 1px solid var(--color-secondary-border);
  border-bottom: none;
}

.field:last-child {
  border-bottom: 1px solid var(--color-secondary-border);
}

.day-picker {
  position: absolute;
  border: 1px solid var(--color-secondary-border);
  z-index: 500;
  background-color: white;
  border-radius: 10px;
}

.tag-selct,
.add {
  margin-top: 10px;
}

.add {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.add:hover {
  color: var(--color-sec-blue);
}

.add img {
  margin-right: 8px;
}

.add span {
  display: inline-flex;
}
