.modal {
  /*min-width: calc(100vw - 65%);
   min-height: calc(100vw - 65%); */
  max-width: calc(100vw - 10%);
  max-height: calc(100vh - 20%);
  overflow-y: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* top: 20%;
  left: 30%;
  right: 30%; */
  background: white;
  border: 1px solid var(--color-secondary-border);
  width: fit-content;
  height: fit-content;
}

.no-height-max{
  max-height: 100vh;
}

@media screen and (max-width: 1200px) {
  .modal {
    max-width: 80vw;
    max-height: 80vh;
  }
}

.overlay {
  position: fixed;
  z-index: 999999;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.2);
  /* background: rgba(0, 0, 0, 0.5); */
  display: flex;
  align-items: center;
  justify-content: center;
}

.text {
  display: flex;
  padding: 20px;
  border-bottom: 1px solid var(--color-secondary-border);
  font-size: 17px;
  width: 35rem;
  align-items: center;
}

.text p {
  flex: 1;
  margin: 0;
}

.text span {
  display: inline-flex;
}

.close {
  font-size: 20px;
  font-weight: 700;
  color: var(--color-sec-blue);
  cursor: pointer;
}

.buttons {
  display: flex;
  justify-content: flex-end;
  padding: 20px;
}

.buttons>div {
  margin-left: 5px;
}