.text {
  display: flex;
  padding: 20px;
  border-bottom: 1px solid var(--color-secondary-border);
  font-size: 17px;
  max-width: 35rem;
  width: 100%;
  align-items: center;
}

.text p {
  flex: 1;
  margin: 0;
}

.text span {
  display: inline-flex;
}

.close {
  font-size: 20px;
  font-weight: 700;
  color: var(--color-sec-blue);
  cursor: pointer;
}

.buttons {
  display: flex;
  justify-content: flex-end;
  padding: 20px;
}

.buttons > div {
  margin-left: 5px;
}
