.container {
  display: grid;
  grid-template-areas:
    "title title"
    "first-section second-section";
  grid-template-columns: 62% 35%;
  grid-column-gap: 3%;
  font-weight: 500;
  padding-left: 10rem;
  padding-right: 10rem;
  justify-content: center;
}

@media screen and (max-width: 1550px) {
  .container {
    padding-left: 3%;
    padding-right: 3%;
  }
}

.first-section,
.second-section {
  margin-top: 40px;
}

.second-section{
  margin-top: 84px;
}

.first-section {
  grid-area: first-section;
  /* width: 60rem;
  margin-right: 35px; */
}

.second-section {
  grid-area: second-section;
  /* width: 25rem; */
}

.container > h1 {
  margin-top: 60px;
  margin-bottom: 40px;
  grid-area: title;
  font-weight: normal;
  font-size: 38px;
}

@media screen and (max-width: 1000px) {
  .container {
    display: flex;
    flex-wrap: wrap;
  }

  .first-section {
    width: 100%;
    max-width: 60rem;
  }

  .second-section {
    width: 100%;
    max-width: 25rem;
    margin-bottom: 45px;
    margin-top: 25px;
  }

  .container > h1 {
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: 28px;
  }
}
