.container {
  margin-bottom: 45px;
}

.container h4 {
  font-weight: 600;
  color: var(--color-prim-navy);
  margin: 0;
  padding: 0;
  flex: 1;
  margin-bottom: 25px;
}

.content-container {
  border: 1px solid var(--color-secondary-border);
  border-radius: 7px;
  padding: 30px 20px;
}

.heading {
  display: flex;
}

.legends {
  flex: 1;
  display: flex;
}

.legend {
  display: flex;
  align-items: center;
}

.legend span {
  display: inline-flex;
}

.legend span:first-child {
  border-radius: 50%;
  min-height: 10px;
  min-width: 10px;
}

.legend span:first-child.draft {
  background-color: var(--color-prim-yellow);
}

.legend span:first-child.scheduled {
  background-color: var(--color-prim-organge);
}

.legend span:first-child.completed {
  background-color: var(--color-prim-wine);
}

.legend span:first-child.past_due {
  background-color: var(--color-prim-red);
}

.legend span:last-child {
  display: inline-flex;
  margin-left: 5px;
  margin-right: 15px;
}

.content {
  display: flex;
  align-items: center;
}

.month{
  min-width: 180px;
}

.chart-wrapper{
  width: 30%;
}

.chart {
  width: 100%;
}

.totals {
  margin-left: 5rem;
  display: flex;
  justify-content: space-around;
  flex: 1;
}

.aggregated-container {
  border-top: 1px solid var(--color-secondary-border);
  width: 25%;
}

.percent {
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.total {
  font-size: 50px;
}

.agg-status {
  font-weight: 600;
}

@media screen and (max-width: 1000px) {
  .container {
    margin-bottom: 25px;
  }

  .container h4 {
    margin-bottom: 15px;
  }

  .content-container {
    padding: 15px 10px;
  }

  .heading {
    justify-content: center;
    flex-wrap: wrap;
  }

  .month{
    margin-top: 10px;
  }

  .content {
    margin-top: 10px;
    flex-wrap: wrap;
    justify-content: center;
  }

  .chart-wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .chart {
    width: 50%;
  }

  .totals {
    width: 100%;
    margin-left: 0;
  }

  .total {
    font-size: 25px;
  }

  .agg-status {
    font-size: 12px;
  }
  
  .legend span:last-child {
    font-size: 12px;
  }
}