.container {
  padding: 35px;
  border: 1px solid var(--color-secondary-border);
  border-radius: 7px;
}

.container h4 {
  font-weight: 600;
  color: var(--color-prim-navy);
  margin: 0;
  padding: 0;
  margin-bottom: 35px;
}

.empty {
  padding-left: 20px;
  font-weight: 500;
  color: var(--color-sec-text);
}

@media screen and (max-width: 1000px) {
  .container {
    padding: 10px;
  }
}
