.container {
  display: flex;
  align-items: center;
  padding: 20px;
  border: 1px solid var(--color-secondary-border);
  border-radius: 7px;
  margin-bottom: 15px;

}

.name {
  width: 33.3%;
  cursor: pointer;
}

.name:hover {
  color: var(--color-sec-text);
}

.user {
  width: 22.6%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.date {
  width: 14.6%;
}

.badge {
  width: 14.6%;
}

.actions {
  display: flex;
  width: 14.6%;
  justify-content: flex-end;
  position: relative;
  align-items: center;
}

.single-user {
  display: flex;
  align-items: center;
}

.container span {
  display: block;
}

.multiple-users{
  display: flex;
}

.single-user img,.multiple-users img{
  margin-right: 5px;
}

.multiple-users li:first-child img{
  margin-left: 10px;
}

.multiple-users li:last-child img{
  margin-right: 10px;
}

.edit-icon {
  cursor: pointer;
}

.img-wrap {
  width: 20px;
  height: 20px;
}

.actions img {
  width: 20px;
  height: auto;
  margin-right: 5px;
}

.more-icon {
  position: relative;
  cursor: pointer;
}

.more {
  position: absolute;
  left: 0;
  top: 1.2rem;
}

@media screen and (max-width: 1330px) {
  .name {
    width: 23.3%;
  }
  
  .user {
    width: 25.6%;
  }
  
  .date {
    width: 16.6%;
  }
  
  .badge {
    width: 19.6%;
  }
}

@media screen and (max-width: 1000px) {
  .container{
    flex-wrap: wrap;
    padding: 10px;
  }

  .name {
    width: 50%;
    margin-bottom: 10px;
  }
  
  .user {
    width: 50%;
    margin-bottom: 10px;
  }
  
  .date {
    width: 33.2%;
  }
  
  .badge {
    width: 39.2%;
  }

  .actions {    
    width: 25%;
  }
}