.container {
  margin-bottom: 15px;
}

.container span {
  display: inline-flex;
}

.name-status {
  display: flex;
  justify-content: space-between;
  margin-bottom: 7px;
}

.names{
  display: flex;
  flex-wrap: wrap;
}

.names span{
  display: flex;
}

.name {
  font-weight: 600;
  font-size: 15px;
  cursor: pointer;
  margin-right: 1rem;
}

.name:hover, .project-name:hover {
  color: var(--color-sec-blue);
}

.completed {
  position: relative;
}

.completed::after {
  content: "";
  border-bottom: 2px solid var(--color-prim-navy);
  position: absolute;
  left: 0;
  top: 45%;
  width: 100%;
}

.status {
  color: var(--color-sec-text);
  font-size: 13px;
}

.date {
  display: flex;
  align-items: center;
  color: var(--color-sec-text);
}

.date span{
  font-size: 13px;
}

.date img {
  width: 12px;
  height: auto;
  margin-right: 8px;
}
