.container {
  width: 100%;
  height: 100%;
}

.day-of-week,
.date-row {
  display: grid;
  grid-template-columns: repeat(7, minmax(0, 1fr));
  grid-template-rows: minmax(0, 1fr);
  column-gap: 1px;
  row-gap: 1px;
  min-width: 980px;
}

.day-of-week > div {
  font-weight: 700;
  text-align: center;
}

/* Dates */
.date-row {
  margin-top: 0.5em;
  width: 100%;
  background-color: var(--color-secondary-border);
  border: 1px solid var(--color-secondary-border);
  height: 100%;
  min-height: 50vh;
}
