@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap");
:root {
  /* Colors */
  --color-prim-navy: #08135e;
  --color-prim-wine: #800356;
  --color-prim-magenta: #c70c4a;
  --color-prim-red: #fa373d;
  --color-prim-organge: #ff7438;
  --color-prim-yellow: #ffb638;
  --color-prim-turquoise: #10bda5;
  --color-prim-turquoise-hover: #00a38d;
  --color-sec-text: #817d9d;
  --color-sec-blue: #aeb0c2;
  --color-sec-lightblue: #e9eefa;
  --color-sec-ivory: #f6efe4;
  --color-sec-lightivory: #faf8f5;
  --color-sec-lightwine: #fae0f1;
  --color-sec-lightred: #fae1e2;
  --color-sec-lightorange: #ffe3d6;
  --color-sec-lightyellow: #fae7c5;
  --color-sec-lightturquoise: #cee6e0;
  --color-nav: var(--color-prim-turquoise);
  --color-nav-icon: var(--color-prim-turquoise-hover);
  --color-nav-hover: var(--color-prim-turquoise-hover);
  --color-nav-icon-hover: #00806e;
  --color-secondary-border: #dedad4;
  --color-secondary-hover: var(--color-sec-lightivory);
  --color-ghost-text: #9597a6;
}

::placeholder {
  color: var(--color-ghost-text);
}

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  color: var(--color-prim-navy);
  margin: 0;
  padding: 0;
}

body.no-overflow {
  overflow: hidden;
}

a {
  color: inherit;
  /* blue colors for links too */
  text-decoration: inherit;
  /* no underline */
}

h1,
h2,
h3,
h4 {
}

h1 {
  font-size: 35px;
  margin: 0;
}

h2 {
  font-size: 24px;
}

h4 {
  font-size: 14px;
  color: var(--color-sec-blue);
}

mark {
  background-color: white;
  color: inherit;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button {
  border: none;
}

input {
  outline: none;
  box-shadow: none;
  -webkit-appearance: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Card content */

.card-content {
  padding: 35px;
  border: 1px solid var(--color-sec-lightblue);
  border-radius: 10px;
  box-shadow: 23px 24px 51px -16px var(--color-sec-lightblue);
}

.ReactModal__Html--open,
.ReactModal__Body--open {
  overflow: hidden;
  /* prevents background page from scrolling when the modal is open */
}

/* Overlay main styling */

.app-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: 2000;
  color: var(--color-prim-navy);
}

.mirror{
  transform: scaleX(-1);
}

/* Emoji mart component */
.emoji-mart-preview {
  display: none;
}

.visible-flex {
  display: flex !important;
}

.visible-block {
  display: block !important;
}

.visible-none {
  display: none !important;
}

@media screen and (max-width: 1000px) {
  h1 {
    font-size: 25px;
  }
}
