@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap");

:root {
  /* Colors */
  --color-prim-navy: #08135e;
  --color-prim-wine: #800356;
  --color-prim-magenta: #c70c4a;
  --color-prim-red: #fa373d;
  --color-prim-organge: #ff7438;
  --color-prim-yellow: #ffb638;
  --color-prim-turquoise: #10bda5;
  --color-prim-turquoise-hover: #00a38d;

  --color-sec-blue: #aeb0c2;
  --color-sec-lightblue: #e9eefa;
  --color-sec-ivory: #f6efe4;
  --color-sec-lightivory: #faf8f5;
  --color-sec-lightwine: #fae0f1;
  --color-sec-lightred: #fae1e2;
  --color-sec-lightorange: #ffe3d6;
  --color-sec-lightyellow: #fae7c5;
  --color-sec-lightturquoise: #cee6e0;

  --color-nav: var(--color-prim-turquoise);
  --color-nav-icon: var(--color-prim-turquoise-hover);
  --color-nav-hover: var(--color-prim-turquoise-hover);
  --color-nav-icon-hover: #00806e;

  --color-secondary-border: #dedad4;
  --color-secondary-hover: var(--color-sec-lightivory);

  --color-ghost-text: #9597a6;
}

::placeholder {
  color: var(--color-ghost-text);
}

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  color: var(--color-prim-navy);
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4 {
}

h1 {
  font-size: 35px;
  margin: 0;
}

h2 {
  font-size: 24px;
}

h4 {
  font-size: 14px;
  color: var(--color-sec-blue);
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button {
  border: none;
}

input {
  outline: none;
  box-shadow: none;
  -webkit-appearance: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Card content */
.card-content {
  padding: 35px;
  border: 1px solid var(--color-sec-lightblue);
  border-radius: 10px;
  box-shadow: 23px 24px 51px -16px var(--color-sec-lightblue);
}

/* Select prefix */

.select-prefix__control {
  border-style: none !important;
}

.select-prefix__value-container {
  width: 100%;
  min-height: 48px;
  padding: 8px 12px;
  background-color: var(--color-sec-ivory);
  color: var(--color-prim-navy);
}

.regular .select-prefix__value-container {
  background-color: var(--color-sec-lightivory);
  padding: 0 12px;
  min-height: 70px;
}

.item .select-prefix__value-container{
  min-height: 48px;
}

.select-prefix__indicators {
  background-color: var(--color-sec-ivory);
  color: var(--color-prim-navy);
}

.regular .select-prefix__indicators {
  background-color: var(--color-sec-lightivory);
}

.select-prefix__menu {
}

.select-prefix__menu-list {
  background-color: var(--color-sec-ivory);
  color: var(--color-prim-navy);
  text-align: left;
}

.regular .select-prefix__menu-list {
  background-color: var(--color-sec-lightivory);
}

.select-prefix__option {
}
