.headers {
  display: flex;
  font-weight: 600;
}

.headers > div {
  width: 20%;
}

.upcoming-header {
  margin-top: 3rem;
}

@media screen and (max-width: 650px) {
  .headers {
    display: none;
  }

  .upcoming-header {
    display: none;
  }
}
