.container > div {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 1000px) {
  .container > div {
    flex-direction: column;
    align-items: center;
  }
}

.container h3{
  font-size: 18px;
  border-bottom: 1px solid var(--color-secondary-border);
  padding-bottom: 13px;
  margin-bottom: 13px;
  margin-top: 0;
  text-align: center;
}